@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');

:root {
  --font: 'Source Code Pro';
  --txt: white;
  --size: 16px;
}

html {
  background-color: black;
}

p {
  font-family: var(--font);
  font-size: var(--size);
  color: var(--txt);
}

input {
  font-family: var(--font);
  font-size: var(--size);
  border: none;
  color: var(--txt);
  background-color: black;
}

input:focus {
  outline: none;
}
